body {
    padding-top: 40px;
}

#questionEdit img {
	width:500px;
	height:200;
	margin-left:20px;

}

.thumbnail {width: 200px; height: 200px;}

.rightBar {

	margin-right:0;
}

.carousel {
    height:250px;
    width:400px;
}