/*****************/
/*-	Form page	-*/
/*****************/
#boxForm, #login {
	margin: 50px auto 0;
	width: 450px;
	color: #555;
}

#boxForm-content {
	background: #F5F5F5;
	padding: 20px;
	border: 1px solid #EDEDED;
	border-radius: 5px;
}

#boxForm-content input {
	width: 90%;
	padding: 10px 20px;
}

#boxForm-content input[type=checkbox] {
	width: auto;
}

#boxForm-content p {
	font-size: 13px;
}

form .text-error {
	margin-bottom: 10px;
}

.brand i {
	margin-top: 4px;
}

.answerbtn {
    width: 25px;
    margin: 3px;
}

#questions li {
	line-height: 25px;
}
label {
	display: inline-block;
}